@font-face{
    font-family:'Raleway';
    src:url('../fonts/Raleway/raleway-bold-webfont.eot?v=4.7.0');
    src:url('../fonts/Raleway/raleway-bold-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
    url('../fonts/Raleway/raleway-bold-webfont.woff2?v=4.7.0') format('woff2'),
    url('../fonts/Raleway/raleway-bold-webfont.woff?v=4.7.0') format('woff'),
    url('../fonts/Raleway/raleway-bold-webfont.ttf?v=4.7.0') format('truetype'),
    url('../fonts/Raleway/raleway-bold-webfont.svg?v=4.7.0#raleway-bold-webfont') format('svg');
    font-weight:normal;
    font-style:normal;
    }
body{
	padding-top:50px;
    font-family: 'Open Sans', sans-serif;
}
h1,h2{
    font-family:'Raleway';
}
nav{
	background: #fff !important;
}
.navbar {
    min-height: 80px;
    margin-bottom: 0px;
    border-bottom: 0px !important;
}
@media (min-width: 768px){
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	 	margin-left: -15px;
	}

	.navbar-brand img{
		width: 200px;
	}
    .navbar-nav>li>a {
        padding-top: 30px !important;
        padding-bottom: 15px;
    }
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color:#9d9d9d !important;
    border-top:2px solid #5cbb47;
    background-color: #fff;
}
.navbar ul li a:hover {
    color:#5cbb47 !important;
    border-top:2px solid #5cbb47;
}
.navbar-inverse .navbar-brand {
	    color: #9d9d9d;
}
.navbar-brand {
    	float: left;
    	height: 50px;
    	padding: 5px 15px;
    	font-size: 18px;
    	line-height: 20px;
}
header.carousel {
   height: 80%;
}
header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center bottom;
    background-size: cover;
}
.btn-success{
	background-color: #5cbb47 !important;
    border-radius: 6px;
    padding: 15px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}
header h1 {
    font-size: 55px;
    line-height: 55px;
    margin-bottom: 25px;
}
header p {
    max-width: 900px;
    font-size: 20px;
    margin-bottom: 15px;
}
footer {
    margin: 0px;
    background-color: #2a2727;
    color: #fff;
    padding: 10px 0px;
    text-align: center;
}
section{
    padding-top: 50px;
    padding-bottom: 50px;
}
h1.page-header {
    color:#5cbb47 ;
    text-align: center;
    font-size:45px;
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 0px solid #eee;
}
h1.page-header:after {
    border-bottom: 2px solid #5cbb47;
    content: "";
    position: absolute;
    padding-top: 5px;
    width: 150px;
    display: block;
    color: #5cbb47;
    left: 0;
    right: 0;
    margin: 0px auto;
}
.text-description{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    line-height: 1.5;
}
.panel-default {
    border-color: transparent;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px; 
    box-shadow: none;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #fff;
}
#welcome{
    text-align: center;
}

.ir-arriba {
    display: none;
    padding:5px 10px;
    background: #5cbb47;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    border-radius: 50%;
}
a{
    color:#5cbb47;
}
a:hover{
    color:#5cbb47;
    text-decoration: none;
}
#separador{
    background: #5cbb47;
    color: #fff;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.btn-ps {
    color: #fff;
    background-color: #322e2e;
    border-color: #322e2e;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-ps:focus, .btn-ps:hover {
    color: #000;
    background-color: #fff;
    border-color: #225d46;
}
/* Sweep To Right */
.hvr-sweep-to-right {
  display: block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0b6e45;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.rightForm{
    line-height: 1; 
    position: fixed; 
    height: 22px; 
    top: 150px; 
    right: -3px;
    z-index: 1;
}
a.btn-contact, a.btn-contact:hover,  a.btn-contact:focus,  a.btn-contact:active{
    width: 55px;
    padding: 0px 20px;
    height: 199px;
    display: block;
    text-indent: 50px;
    font-size: 24px;
    outline: none;
    position: absolute;
    top: 0px;
    left: -55px;
    background: #0b6e45;
    color: #fff;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-decoration: none;
}

.form_contacts{
    display: none;
    background: #fff;
    padding: 20px;
    width: 265px;
    border: 1px solid #ccc;

}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 20px;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #5cbb47;
}
.navbar-inverse .navbar-toggle:focus .icon-bar, .navbar-inverse .navbar-toggle:hover .icon-bar{
    background-color: #fff;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #5cbb47;
}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: -15px;
    margin-left: -15px;
    min-height: 85px;
}

@media (max-width: 767px){
    .navbar-brand img {
        width: 200px;
    }
    header.carousel {
    height: 90%;
    }
    header h1 {
        font-size: 40px;
    }
    .panel-default>.panel-heading img{
        width: 100%;
        max-width: 250px;
        margin: 0px auto;
    }
    a.btn-contact, a.btn-contact:hover,  a.btn-contact:focus,  a.btn-contact:active
    {
        opacity: 0.4;
        width: 40px;
        padding: 0px 10px;
        height: 130px;
        text-indent: 20px;
        font-size: 18px;
        left: -45px;
    }
    a.btn-contact:hover
    {
        opacity: 1;
    }
}

@media (max-width: 400px){
    header h1 {
        font-size: 30px;
        line-height: 40px;
    }
    header p {
        font-size: 16px;
    }
    h1.page-header {
        font-size: 30px;
    }
    .text-description {
        font-size: 18px;
    }
}